@model List<DAL.DTO.UserApplicationDTO>
@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/app/EmployeeDashboard.css" rel="stylesheet" />

@if (Model == null || Model.Count == 0)
{
    <div class="callout callout-warning">
        <h4 class="alert-heading"><strong>No applications found:</strong></h4>
        <p>You have not yet applied to any of the available trainings.</p>
    </div>
}
else
{
    <div class="callout callout-info">
        <h4 class="alert-heading"><strong>View your training applications below</strong></h4>
    </div>

    <div class="table-wrapper pt-4">
        <table id="userApplications" class="table table-striped table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Application Status</th>
                    <th>Training Name</th>
                    <th>Training Department</th>
                    <th>Decline Reason</th>
                    <th>DateTime of Application</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var application in Model)
                {
                    <tr>
                        <td>
                            @switch (application.ApplicationStatus)
                            {
                                case Framework.Enums.ApplicationStatusEnum.Pending:
                                    <span class="badge rounded-pill text-bg-warning">Pending</span>
                                    break;

                                case Framework.Enums.ApplicationStatusEnum.Approved:
                                    <span class="badge rounded-pill text-bg-info">Approved</span>
                                    break;

                                case Framework.Enums.ApplicationStatusEnum.Selected:
                                    <span class="badge rounded-pill text-bg-success">Selected</span>
                                    break;

                                case Framework.Enums.ApplicationStatusEnum.Declined:
                                    <span class="badge rounded-pill text-bg-danger">Declined</span>
                                    break;
                            }
                        </td>
                        <td>@application.TrainingName</td>
                        <td>@application.TrainingDepartment</td>
                        <td>
                            @if (application.DeclineReason != null)
                            {
                                <span>@application.DeclineReason</span>
                            }
                            else
                            {
                                <span>Not applicable</span>
                            }
                        </td>
                        <td>@application.ApplicationDateTime.ToString("f")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



