
@{
    ViewBag.Title = "Dashboard";
}

<link href="~/Content/app/Spinner.css" rel="stylesheet" />

<div id="dashboardContainer">
    <h2>Training Approval Dashboard</h2>
    <div class="table-responsive">
        <table class="table table-light table-hover mt-4">
            <thead class="text-center">
                <tr>
                    <th scope="col">Applicant's Name</th>
                    <th scope="col">Training Name</th>
                    <th scope="col">Training Department</th>
                    <th scope="col">Application Status</th>
                    <th scope="col" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody class="text-center table-group-divider" id="tableBody">
            </tbody>
        </table>
    </div>
</div>

@*Modal for Viewing Document*@
<div class="modal modal-lg fade" id="viewDocModal" tabindex="-1" aria-labelledby="viewDocModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="viewDocModalLabel">Documents submitted</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
        </div>
    </div>
</div>

@*Modal for declining application*@
<div class="modal fade" id="declineModal" tabindex="-1" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="declineModalTitle"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-1">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="decline-message-text" placeholder="Enter decline reason..."></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="declineButton" type="button" data-bs-dismiss="modal" class="btn btn-danger">Send Message</button>
            </div>
        </div>
    </div>
</div>

<div class="spinner-wrapper" id="emailSpinner" style="display: none;">
    <div class="spinner-border d-block text-info" role="status"></div>
    <div class="spinner-text">Please wait...</div>
</div>

<script src="~/Scripts/app/ViewApplications.js"></script>

