
@{
    ViewBag.Title = "Browse";
}

<h2>Browse Training</h2>
<div class="table-responsive">
    <table class="table table-secondary table-hover mt-4">
        <thead class="text-center">
            <tr>
                <th scope="col">Training Programme</th>
                <th scope="col">Department</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Capacity</th>
                <th scope="col">View button</th>
            </tr>
        </thead>
        <tbody class="text-center table-group-divider" id="tableBody">
        </tbody>
    </table>
</div>

    <script>
        (function () {
            fetch('/Training/GetAllTrainings', {
                method: 'GET'
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    return `Error: Response code is ${response.status}`
                })
                .then(data => {
                    populateTable(data.trainings)
                })
                .catch(error => {
                    console.error('Error: ', error)
                })
        })();

    </script>
    <script src="~/Scripts/app/ViewTraining.js"></script>
