@model  List<DAL.DTO.TrainingDTO>
@{
    ViewBag.Title = "View Trainings";
}

<link href="~/Content/app/ViewTrainings.css" rel="stylesheet" />
<link href="~/Content/app/Callout.css" rel="stylesheet" />
<script defer src="~/Scripts/app/ViewTrainings.js"></script>


@if (Model == null || Model.Count == 0)
{
    <div class="callout callout-warning">
        <h4 class="alert-heading"><strong>No available trainings</strong></h4>
        <div><span>Check back later for new opportunities.</span></div>
    </div>
}
else
{
    <div class="callout callout-info">
        <h4 class="alert-heading"><strong>Exciting Opportunities Await!</strong></h4>
        <div>
            <p class="mb-0">Explore the available trainings below and increase your chances of selection by considering opportunities in your department.</p>
        </div>
    </div>
    <div class="table-responsive pt-3">
        <table id="unappliedTrainings" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Training Programme</th>
                    <th>Department</th>
                    <th>Deadline of Application</th>
                    <th>View More</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var training in Model)
                {
                    <tr>
                        <td>@training.TrainingName</td>
                        <td>@training.DepartmentName</td>
                        <td>@training.DeadlineOfApplication.ToString("D")</td>
                        <td>
                            <button data-training-id="@training.TrainingId" type="button"
                                    class="btn btn-labeled btn-outline-info view-more-btn">
                                <span class="btn-label"><i class="fa-solid fa-arrow-right icon"></i></span>
                                <div class="spinner-border spinner-border-sm spinner" role="status" style="display: none;">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <form id="trainingForm" action="/Training/TrainingDetails" method="post">
        <input type="hidden" id="trainingIdInput" name="trainingId" value="" />
    </form>
}