
@{
    ViewBag.Title = "View Trainings";
}

<h2>Browse Training</h2>
<div class="table-responsive">
    <table class="table table-light table-hover mt-4">
        <thead class="text-center">
            <tr>
                <th scope="col">Training Programme</th>
                <th scope="col">Department</th>
                <th scope="col">Deadline of Application</th>
                <th scope="col" colspan="1">Action</th>
            </tr>
        </thead>
        <tbody class="text-center table-group-divider" id="tableBody">
        </tbody>
    </table>
    <form id="trainingForm" action="/Training/TrainingDetails" method="post">
        <input type="hidden" id="trainingIdInput" name="trainingId" value="" />
    </form>
</div>

<script src="~/Scripts/app/ViewTrainings.js"></script>
