
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Server Error";
}

<link href="~/Content/app/Common.css" rel="stylesheet" />

<div class="row justify-content-center text-center align-items-center">
    <h1 id="error-message">Oops! Something went wrong</h1>
    <h5>We're sorry, but there was an internal server error.</h5>
    <h6>Please contact admin for further assistance.</h6>
    <p>Error Id: </p>
</div>
