
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Server Error";
    string errorGuid = HttpContext.Current.Session["ErrorGuid"]?.ToString();
}

<div class="row justify-content-center align-items-center text-center">
    <h1 id="error-message">Oops! Something went wrong</h1>
    @if (!string.IsNullOrEmpty(errorGuid))
    {
        <h5>We're sorry, but there was an internal server error.</h5>
        <h6>Please contact admin for further assistance.</h6>
        <p><strong>Error Id:</strong> @errorGuid</p>
    }
</div>
