
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Not Found";
}

<link href="~/Content/app/Common.css" rel="stylesheet" />

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1 id="error-code">404</h1>
        <h5>Oops! Page not found.</h5>
    </div>
</div>
