
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/app/Login-Register.css" rel="stylesheet" />


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="card-title text-center">Register</h2>
                <!-- Register Form -->
                <form method="post" @*onsubmit="submitRegistration(event)"*@>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="mobileNumber" class="form-label">Mobile Number</label>
                            <input type="number" class="form-control" id="mobileNumber" required>
                        </div>
                        <div class="col-md-6">
                            <label for="nic" class="form-label">NIC Number</label>
                            <input type="text" class="form-control" id="nic" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <select id="department" class="form-select" aria-label="Select Department" name="Department" required>
                                <option selected value="1">Product and Technology</option>
                                <option value="2">Customer Support</option>
                                <option value="3">Finance</option>
                                <option value="4">Payroll</option>
                                <option value="5">Services</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="managerName" class="form-label">Manager Name</label>
                            <input type="text" class="form-control" id="managerName" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confimPassword" required>
                        </div>
                    </div>
                    <div class="col-12 text-center mb-3">
                        <button class="btn btn-primary" type="button" onclick="submitRegistration()">Sign Up</button>
                    </div>
                    <div class="text-center mb-3">
                        Already have an account? <a href="/Account/Login">Login</a>
                    </div>
                </form>
                <div id="message-container" style="display: none"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/Common.js" type="module"></script>
<script src="~/Scripts/app/Register.js"></script>