body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #E5E6E4;
}

#error-code{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:200px;
}
